<html>
<head>
<title>Weather app</title>
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="main-content">
{{>navbar}}
<p>{{title}}</p>
<p>{{about}}</p>
<h2>Made By {{Name}}</h2>
</div>
</body>
</html>